<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Somewhat-Okay Weather App</title>
  </head>
  <script>
      
  </script>
  <body background="{{ url_for('static', filename='images/home_bg.jpg') }}">
    <!-- Top Navigation Bar -->
    <div>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light">
                <a href="/" class="text-light" style="text-decoration: none;"> <h2>Weather App</h2> </a>
        </nav>
    </div>

        <!-- For Displaying Weather -->
    <div class="modal-dialog text-left">
        <div class="col-sm-9 main-section">
            <div class="modal-content">
                <p class="form-control"> City Name: {{ vacation.selected_city }}</p>
                <p class="form-control"> Time: {{ vacation.selected_time }}</p>
                <p class="form-control"> Temp Max: {{ vacation.selected_tmax }}</p>
                <p class="form-control"> Temp Min: {{ vacation.selected_tmin }}</p>
                <p class="form-control"> Windspeed: {{ vacation.selected_windspeed }}</p>
                <p class="form-control"> Humidity: {{ vacation.selected_humidity }}</p>
                <p class="form-control"> Cloudiness: {{ vacation.selected_cloudiness }}</p>
            </div>
        </div>
    </div>

        <!-- Search City and Submit -->
    <form action="/" method="POST">
        <div class="modal-content modal-dialog text-left text-light">
            <input type="text" class="form-control" name="city_name"  placeholder="Enter City Name">

                <select id="myDropDownList" name="select_date">
                        <option value="{{ vacation.day1 }}">{{ vacation.day1 }} - Today</option>
                        <option value="{{ vacation.day2 }}">{{ vacation.day2 }} - Tomorrow</option>
                        <option value="{{ vacation.day3 }}">{{ vacation.day3 }} - Two Days From Now</option>
                        <option value="{{ vacation.day4 }}">{{ vacation.day4 }} - Three Days From Now</option>
                  </select>

                  <select id="myDropDownList" name="select_time">
                        <option value="00">00:00 Hrs</option>
                        <option value="03">03:00 Hrs</option>
                        <option value="06">06:00 Hrs</option>
                        <option value="09">09:00 Hrs</option>
                        <option value="12">12:00 Hrs</option>
                        <option value="15">15:00 Hrs</option>
                        <option value="18">18:00 Hrs</option>
                        <option value="21">21:00 Hrs</option>
                  </select>

            <button type="submit" class="btn btn-success">Search</button>
    </form>


    </div>

    





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>